<!doctype html>
<html lang="en">
  <head>
		
		<!-- Webpage Title -->
    <title>키워드로 크롤링하기</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- JS -->		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    function make_tabs() {
      var keyword = $('#posting-keyword').val();
      var square_check = $("input:checkbox[name=venturesquare]").is(":checked")
      var platum_check = $("input:checkbox[name=platum]").is(":checked")
      if (keyword != ""){
      let temp_tabname =
      '<a class="nav-item nav-link" id="nav-'+keyword+'-tab" data-toggle="tab" href=#nav-'+keyword+' role="tab" aria-controls="nav-'+keyword+'" aria-selected="true">'+keyword+'<button  type="button" class="close" aria-label="Close"><span onclick="close_tab(\''+keyword+'\')" aria-hidden="true" class="closeicon" >&times;</span></button></a>'
      $('#nav-tab').append(temp_tabname);
      let temp_tabcontent =
      '<div class="tab-pane fade show" id="nav-'+keyword+'" role="tabpanel" aria-labelledby="nav-'+keyword+'-tab"><div class="card-columns"  id="cards-box-'+keyword+'"></div></div>'
      $('#nav-tabContent').append(temp_tabcontent);
        if (square_check == true && platum_check == false){
            square_posting();
        } else if (square_check == false && platum_check == true){
            platum_posting();
        } else if (square_check == true && platum_check == true){
            square_positng();
            platum_posting();
        } else if (square_check == false && platum_check == false){
          alert('크롤링할 홈페이지를 체크해주세요.')
        }

      } else {
        alert('키워드를 입력해주세요.')
      }
    }
    


    function platum_posting() {
      let keyword = $('#posting-keyword').val();
      $.ajax({
        type: "GET", 
        url: "/platum?keyword="+keyword, 
        data: {}, 
        success: function(response){
          if (response['result'] == 'success') {
            alert(' 플래텀 크롤링 성공!');
            platum_listing();
          } else {
            alert('서버 오류!')
          }
        }
      })
    }
    $(document).ready(function(){
      $('#cards-box').html('');
      platum_listing();
    });

    function platum_listing() {
      let keyword = $('#posting-keyword').val();
      var source = $("input:checkbox[name='platum']:checked").val()
      $.ajax({
        type: "POST",
        url: "/post",
        data: {keyword_give : keyword , source_give : source},
        success: function(response){
           if (response['result'] == 'success') {
             let news = response['news'];
             for (let i = 0; i < news.length; i++) {
               make_card(news[i]['source'],news[i]['date'],news[i]['image'],news[i]['title'],news[i]['url'])
             }
           } else {
             alert('기사를 받아오지 못했습니다');
           }
        }
      })
    }

    function square_posting() {
      let keyword = $('#posting-keyword').val();
      $.ajax({
        type: "GET", 
        url: "/square?keyword="+keyword, 
        data: {}, 
        success: function(response){
          if (response['result'] == 'success') {
            alert('벤처스퀘어 크롤링 성공!');
            square_listing();
          } else {
            alert('서버 오류!')
          }
        }
      })
    }
    $(document).ready(function(){
      $('#cards-box').html('');
      square_listing();
    });

    function square_listing() {
      let keyword = $('#posting-keyword').val();
      var source = $("input:checkbox[name='venturesquare']:checked").val()
      $.ajax({
        type: "POST",
        url: "/post",
        data: {keyword_give : keyword , source_give : source},
        success: function(response){
           if (response['result'] == 'success') {
             let news = response['news'];
             for (let i = 0; i < news.length; i++) {
               make_card(news[i]['source'],news[i]['date'],news[i]['image'],news[i]['title'],news[i]['url'])
             }
           } else {
             alert('기사를 받아오지 못했습니다');
           }
        }
      })
    }

    function make_card(source, date, image, title, url) {
      let keyword = $('#posting-keyword').val();
      let temp_card = '<div class="card">\
        <img class="card-img-top" src="'+image+'" alt="Card image cap">\
        <div class="card-body">\
          <a href="'+url+'" class="card-title">'+title+'</a>\
          <p class="card-text">'+date+'</p>\
          <p class="card-text comment">'+source+'</p>\
        </div>\
      </div>';
      $('#cards-box-'+keyword).append(temp_card);
      $('#cards-box').append(temp_card);
    }


    function close_tab(keyword){
      $('#nav-'+keyword+'-tab').remove();
      $('#nav-'+keyword).remove();
    }
    //로딩바 만들기
    $(document).ready(function(){
  
    $('#Progress_Loading').hide(); //첫 시작시 로딩바를 숨겨준다.
    })
    .ajaxStart(function(){
      $('#Progress_Loading').show(); //ajax실행시 로딩바를 보여준다.
    })
    .ajaxStop(function(){
      $('#Progress_Loading').hide(); //ajax종료시 로딩바를 숨겨준다.
    });
 

    </script>
    <style type="text/css">
    *{
      font-family: 'Stylish', sans-serif;
    }
    .entire_margin {
      width: 900px;
      margin: auto;
    }
    #Progress_Loading
    {
     position: absolute;
     left: 50%;
     top: 50%;
     background: #ffffff;
    }
    .closeicon
    {text-align : center;
    }
    </style>
  </head>

  <body>
    <!-- 로딩바 -->
    <div id = "Progress_Loading">
      <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile1.uf.tistory.com%2Fimage%2F9950163C5AFE32810A7310" alt="로딩중" />
    </div>
    <!-- 설명부분 -->
    <div class="entire_margin">
      <div class="jumbotron">
        <h1 class="display-4">키워드로 뉴스 뽑아보기!</h1>
        <p class="lead">키워드만 입력하면 뉴스가 자동으로 저장됩니다.</p>
        <hr class="my-4">
        <p class="lead">
        <!-- 키워드 넣는 인풋 공간 만들기 -->
          <div class="form-post" id="posting-box">
            <div>
              <div class="form-group">
                <label for="exampleFormControlInput1">키워드 입력</label>
                <input id="posting-keyword" class="form-control" placeholder="키워드를 입력해주세요.">
              </div>
            <span class="form-check">
              <input type="checkbox" class="form-check-input" name="venturesquare" value="벤처스퀘어">벤처스퀘어
            </span>
            <span class="form-check">
              <input type="checkbox" class="form-check-input" name="platum" value="플래텀">플래텀
                <small id="refercheck" class="form-text text-muted">체크한 페이지만 크롤링 합니다.</small>
            </span>
            <button onclick="make_tabs()" class="btn btn-primary">키워드 저장</button>
            </div>
          </div>
        </p>
      </div>
      <!-- 키워드 탭 만들기 -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">전체보기
          <button  type="button" class="close" aria-label="Close">
            <span onclick="close_tab()" aria-hidden="true" class="closeicon" >&times;</span>
          </button></a>
        </div>
      </nav>
      <!-- 키워드 탭 내용 -->
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card-columns"  id="cards-box">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>